body {
    background-image: linear-gradient(to right, #96CEB4, #FFEEAD, #FFAD60, #A02334);
}

h1{
    text-align: center;
    color: #A02334;
}

h2{
    text-align: center;
    justify-content: center;
    