body {
    background-image: linear-gradient(to right, #4535C1, #478CCF, #36C2CE, #77E4C8);
}

h1{
    text-align: center;
    color: #ca3c4f;
}

h2{
    text-align: center;
    justify-content: center;
    color: rgb(113, 138, 138);
    
}

p {
    text-align: center;

}